<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!-- Builder -->
    <extension id="coffeescriptBuilder" name="CoffeeScript Project Builder" point="org.eclipse.core.resources.builders">
        <builder hasNature="true">
            <run class="org.ilaborie.eclipsecon2014.builder.CoffeeScriptBuilder"/>
        </builder>
    </extension>
    <!-- Nature -->
    <extension id="coffeescriptNature" name="CoffeeScript Project Nature" point="org.eclipse.core.resources.natures">
        <runtime>
            <run class="org.ilaborie.eclipsecon2014.builder.CoffeeScriptNature"/>
        </runtime>
        <builder id="org.ilaborie.eclipsecon2014.builder.coffeescript.coffeescriptBuilder"/>
    </extension>
    <!-- Commands -->
    <extension point="org.eclipse.ui.commands">
        <category name="CoffeeScript Project Nature commands" id="cmd.category.coffeescript"/>
        <command id="cmd.toggle.coffeescript.nature"
            name="Add/Remove CoffeeScript Project Nature"
            categoryId="cmd.category.coffeescript"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
       <handler commandId="cmd.toggle.coffeescript.nature" class="org.ilaborie.eclipsecon2014.builder.handlers.ToggleCoffeeScriptNature"/>
    </extension>
    <extension point="org.eclipse.ui.commandImages">
        <image commandId="cmd.toggle.coffeescript.nature" icon="icons/coffee.png"/>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
            <command
                  commandId="cmd.toggle.coffeescript.nature"
                  label="Disable CoffeeScript builder"
                  style="push">
                <visibleWhen checkEnabled="false">
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IProject">
                                <test value="org.ilaborie.eclipsecon2014.builder.coffeescript.coffeescriptNature" property="org.eclipse.core.resources.projectNature"/>
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
            <command
                  commandId="cmd.toggle.coffeescript.nature"
                  label="Enable CoffeeScript builder"
                  style="push">
                <visibleWhen checkEnabled="false">
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IProject">
                                <not>
                                    <test value="org.ilaborie.eclipsecon2014.builder.coffeescript.coffeescriptNature" property="org.eclipse.core.resources.projectNature"/>
                                </not>
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>
    <!-- Markers -->
    <extension id="coffeescriptProblem" name="CoffeeScript Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <persistent value="true"/>
    </extension>
</plugin>
